<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>CFBundleIconFile</key>
        <string>bitcoin.icns</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>Breakout Chain [BRK/BRX] Multicurrency 1.6.2.3</string>
        <key>CFBundleExecutable</key>
        <string>Breakout-Coin</string>
        <key>CFBundleIdentifier</key>
        <string>com.breakoutcoin.breakout-qt</string>
        <key>CFBundleShortVersionString</key>
        <string>1.6.2.3</string>
        <key>CFBundleSignature</key>
        <string>BroX</string>
        <key>CFBundleVersion</key>
        <string>1.6.2.3</string>
</dict>
</plist>
